<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
</head>
<body>
  <a href="http://{{ host }}/log-in">Вход</a>
  <a href="http://{{ host }}/sign-up">Регистрация</a>
  <a href="http://{{ host }}/help/index.html">Руководство пользователя</a>
</body>
<script>
    document.addEventListener('keydown', function(e){
        if (e.key === 'F1'){
            e.preventDefault();
            return window.location.href = '/help/_opisanie_operatsij_glavnoj_stranitsy.html';
        }
    });
</script>
</html>