<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
  <form method="post" content="application/x-www-form-urlencoded" onsubmit="main(event,this)">
      <label>Почта</label><input id="username" type="email">
      <label>Пароль</label><input id="password" type="password">
      <input type="submit" value="Войти">
  </form>
<a href="http://{{ host }}:1002/sign-up">Зарегистрироваться</a>
<button type="button" onclick="reset_password()">Забыли пароль</button>
<p id="reset_password"></p>
</body>
<script>
    function main(e, form){
        send()
        e.preventDefault();
        form.reset();
    }

    async function send() {
        let result = await fetch('http://{{ host }}:1000/token', {method:'post',
            body: new URLSearchParams({'username': document.getElementById('username').value,
                'password': document.getElementById('password').value}),
            headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
        if (result.ok){
            return save_into_storages(await result.json());
        }
        else{
            return alert('Неверная почта или пароль');
        }
}

    function save_into_storages(data) {
        document.cookie = `refresh_token=${data.refresh_token}; SameSite: Strict; max-age=2592000`;
        localStorage.setItem("access_token", data.access_token);
        window.location.href = "/me";
    }
</script>
</html>