<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный аккаунт</title>
</head>
<body>
<div>
    <p>Сервисы уведомлений</p>
    <form method="post" content="form-data" onsubmit="">
        <label for="email">Почта: </label><input id="email" type="email">
        <label for="telegram_id">Телеграмм</label><input id="telegram_id" type="text">
        <label for="vk_domain">Вк</label><input id="vk_domain" type="text">
        <label for="website">Сайт</label><input id="website" type="text">
    </form>
</div>
<p id="api_token"></p>
</body>
<script>
    main();
    async function main() {
        await check()
    }
    async function check() {
        let myHeaders = new Headers();
        myHeaders.set('Authorization', 'Bearer ' + localStorage.getItem('access_token'));
        let response = await fetch(
        'http://{{ host }}:1002/me', {
          method: 'POST',
          headers: myHeaders,
        });
        if (response.status !== 401){
            let data = await response.json();
            document.getElementById("email").value = data.email;
            document.getElementById("telegram_id").value = data.telegram_id;
            document.getElementById("vk_domain").value = data.vk_domain;
            document.getElementById("website").value = data.website;
            document.getElementById("api_token").textContent = data.api_token;
        }else{
            console.log(document.cookie);
            response = await fetch(
                'http://{{ host }}:1000/refresh', {
                method: 'POST',
                headers: {
                    'cookie': document.cookie
                },
                credentials: "include"
            });
            if (response.status !== 401){
                let data = await response.json();
                localStorage.setItem("access_token", data.access_token);
                document.cookie = `refresh_token=${data.refresh_token}; SameSite: Strict; max-age=2592000`;
                window.location.href = 'http://{{ host }}:1002/me';
            }
            else{
               alert("Вы не авторизовались!");
               location.href = "http://{{ host }}:1002/log-in";
            }
        }
    }
</script>
</html>