<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный аккаунт</title>
</head>
<body>
<div>
    <p>Сервисы уведомлений</p>
    <form method="post" content="application/x-www-form-urlencoded" onsubmit="update_services(event, this)">
        <label for="email">Почта: </label><input id="email" type="email">
        <label for="telegram_id">Телеграмм</label><input id="telegram_id" type="text">
        <label for="vk_domain">Вк</label><input id="vk_domain" type="text">
        <label for="website">Сайт</label><input id="website" type="text">
        <input type="submit">
    </form>
</div>
<p id="api_token"></p>
<button onclick="update_token()" type="button">Обновить токен</button>
<button onclick="reset_password()">Поменять пароль</button>
<a href="http://{{ host }}/log-in">Выйти</a>
  <a href="http://{{ host }}/help/index.html">Руководство пользователя</a>
</body>
<script>
    let myHeaders = new Headers();
    myHeaders.set('Authorization', 'Bearer ' + localStorage.getItem('access_token'));
    main();
    async function main() {
        await check()
    }
    async function check() {
        let response = await fetch(
        'http://{{ host }}/me', {
          method: 'POST',
          headers: myHeaders,
        });
        if (response.ok){
            let data = await response.json();
            document.getElementById("email").value = data.email;
            document.getElementById("telegram_id").value = data.telegram_id;
            document.getElementById("vk_domain").value = data.vk_domain;
            document.getElementById("website").value = data.website;
            document.getElementById("api_token").textContent = data.api_token;
        }else{
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            response = await fetch(
                'http://{{ host }}:1000/refresh', {
                method: 'POST',
                headers: {
                    'cookie': document.cookie.substring(14, ca[0].length)
                },
                credentials: "include"
            });
            if (response.ok){
                let data = await response.json();
                localStorage.setItem("access_token", data.access_token);
                document.cookie = `refresh_token=${data.refresh_token}; SameSite: Strict; max-age=2592000`;
                myHeaders.set('Authorization', 'Bearer ' + localStorage.getItem('access_token'));
                response = await fetch(
                'http://{{ host }}/me', {
                  method: 'POST',
                  headers: myHeaders,
                })
                data = await response.json();
                document.getElementById("email").value = data.email;
                document.getElementById("telegram_id").value = data.telegram_id;
                document.getElementById("vk_domain").value = data.vk_domain;
                document.getElementById("website").value = data.website;
                document.getElementById("api_token").textContent = data.api_token;
            }
            else{
               alert("Вы не авторизовались!");
               location.href = 'http://{{ host }}/log-in';
            }
        }
    }

    async function update_services(e, form){
        e.preventDefault();
        let email = form.email.value;
        let telegram_id = form.telegram_id.value;
        let vk_domain = form.vk_domain.value;
        let website = form.website.value;
        let response = await fetch('http://{{ host }}/me/update-services', {
          method: 'POST',
          headers: myHeaders,
          body: new URLSearchParams({'email': email, 'telegram_id': telegram_id, "vk_domain": vk_domain, 'website': website})
        })
        if (response.ok){
            alert('Успешно');
        }
        else{
            alert('Ошибка');
        }
    }

    async function update_token(){
        let response = await fetch(
        'http://{{ host }}/me/reset-api-token', {
          method: 'GET',
          headers: myHeaders,
        })
        if (response.ok){
            let data = await response.json();
            document.getElementById('api_token').textContent = data.api_token;
        }
        else{
            alert('Ошибка авторизации');
        }
    }

    async function reset_password(){
        let response = await fetch(
        'http://{{ host }}/me/update-password', {
          method: 'GET',
          headers: myHeaders,
        })
        if (response.ok){
            alert('Ссылка для обновления пароля отправлена на почту');
        }
        else{
            alert('Ошибка авторизации');
        }
    }

    document.addEventListener('keydown', function(e){
        if (e.key === 'F1'){
            e.preventDefault();
            return window.location.href = '/help/nastrojki.html';
        }
    });
</script>
</html>