<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
  <form method="post" content="application/x-www-form-urlencoded" onsubmit="main(event,this)">
    <label>Новый пароль</label><input id="password" type="password">
    <input type="submit" value="Обновить пароль">
  </form>
</body>
<script>
  function main(e, form){
    request();
  }

  async function request(){
      console.log(document.URL.substring(44, document.URL.length));
      let result = await fetch('http://{{ host }}:1002/me/reset-password', {method:'post',
            body: new URLSearchParams({'password': document.getElementById('password').value}),
            headers: {'Authorization': document.URL.substring(44, document.URL.length)}})
        if (result.ok){
        }
        else{
            return alert('Невалидная ссылка');
        }
  }
</script>
</html>