<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Смена пароля</title>
</head>
<body>
  <form method="post" content="application/x-www-form-urlencoded" onsubmit="request(event,this)">
    <label>Новый пароль</label><input id="password" type="password">
    <input type="submit" value="Обновить пароль">
  </form>
</body>
<script>

  async function request(e, form){
      e.preventDefault();
      let result = await fetch('http://{{ host }}/me/reset-password', {method:'POST',
            body: new URLSearchParams({'password': form.password.value}),
            headers: {'Authorization': document.URL.substring(39, document.URL.length)}})
      if (result.ok){
          return window.location.href = 'http://{{ host }}/me';
      }
      else {
          return alert('Невалидная ссылка');
      }
  }
</script>
</html>