<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
  <form method="post" content="application/x-www-form-urlencoded" onsubmit="check_email(event, this)">
      <label>Почта</label><input id="username" type="text">
      <label>Пароль</label><input id="password" type="password">
      <input type="submit" value="Регистрация">
  </form>
</body>
<script>
    function check_email(e,form) {
        let result = "";
        fetch('/sign-up', {method:'post', body: new URLSearchParams({'username': document.getElementById('username').value, 'password': document.getElementById('password').value}), headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
            .then(res => {return res.text()})
            .then(res_body => {console.log(res_body)});
        e.preventDefault();
        form.reset();
}
</script>
</html>