<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
  <form method="post" content="application/x-www-form-urlencoded" onsubmit="send(event, this)">
      <label>Почта</label><input id="username" type="email">
      <label>Пароль</label><input id="password" type="password">
      <input type="submit" value="Регистрация">
  </form>
  <a href="http://{{ host }}/log-in">Войти</a>
  <p id="status"></p>
</body>
<script>
    function send(e,form) {
        fetch('http://{{ host }}/sign-up', {method:'post', body: new URLSearchParams({'username': form.username.value, 'password': form.password.value}), headers: {'Content-Type': 'application/x-www-form-urlencoded'}})
            .then((response) => {if (response.ok)
                return document.getElementById("status").textContent = "Письмо отправлено на почту";
            throw new Error("Такой аккаунт уже существует")})
            .catch((error) => {document.getElementById("status").textContent = error})
        e.preventDefault();
        form.reset();
    }

    document.addEventListener('keydown', function(e){
        if (e.key === 'F1'){
            e.preventDefault();
            return window.location.href = '/help/registratsiya__vkhod_v_uchyetnuyu_zapis.html';
        }
    });
</script>
</html>